@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
  --primaryLight: #a2d6f9;
  --primaryLighter: #d1edff;
  --secondaryLight: #fce300;
  --secondaryDark: #ffc600;
  --neutralLight: #f4f6fc;
  --neutralMedium: #6b708d;
  --neutralDark: #292e47;
  --wrong: #b33a3a;
  --right: #28a428;
  --white: #fff;
  --black: #000;
  --diameter: 25vw;
  --circular-line-width: 2px;
  --background: #000;
  --line-color: #ff0055;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: #e7deec;
  color: #292e47;
}
/*-----nav-----*/

.nav-links {
  text-decoration:none;
  color: #a5aac9;
  font-weight: 500;
  font-size: 1.05rem;
  margin: 0 14px 0 14px;
}


#top-contact-btn {
  background-color: #072ac8;
  color:white;
  font-weight: 500;
  font-size: 1.05rem;
  padding: 16px;
  text-decoration: none;
}
#navbar {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px auto;
}

/* main----*/
#main {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#main > div {
  width: 46%;
}



.btns-top-container {
  width: 100%;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  text-align: center;
  margin: 0;
  padding: 0;
}


#img-block {
  position: relative;
}
/*---section0---*/

.business-conteneur {
display: grid;
grid-template-columns: 40, 20, 40;
}

.stunning-design > h1 {
text-align: justify;
  font-size: 3.5rem;
  color: #292e47;
  font-weight: 600;
  line-height: 130%;
  margin: 30px 0 50px 0;
}

.stunning-design > p {
  text-align:justify;
  font-size: 1.1rem;
  color: #6b708d;
  font-weight: 400;
  line-height: 150%;
  margin: 30px 0 50px 0;
  
}



.hero-img {
  width: 70%;
  margin-top: 20px;
 
}


.card1-img {
  position: absolute;
  left: 4%;
  top: 0%;
  right: auto;
  bottom: auto;
  max-width: 34%;
}

.accept-img {
  position: absolute;
  left: auto;
  top: auto;
  right: 4%;
  bottom: -15%;
  max-width: 34%;
  z-index: 999;

}



/*---section1---*/
.logo-airbnb {
  height: 50%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.logo-google {
  height: 50%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.logo-microsoft {
  height: 50%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.logo-fedex {
  height: 50%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.logo-amazon {
  height: 50%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.logo-nike {
  height: 50%;
  width: 20%;
  margin-left: 0%;
  margin-right: 0%;
}

/*---section2---*/

.Projects {
  margin: 100px 0 75px 0;
}

section2 > h1 {
  font-size: 2.5rem;
}
.project-img1 {
  width: 100%;
  height: 240px;
}
.project-img2 {
  width: 100%;
  height: 240px;
}
.project-img3 {
  width: 100%;
  height: 240px;
}

.R-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 0px;
}

.R-projects {
  background-color: white;
  padding-bottom: 20px;
}


.Projects > h3 {
  font-size: 1.3rem;
  margin: 27px;
}

.Projects > p {
  font-size: 1.1rem;
  margin: 0 27px 27px 27px;
}

.Projects > a {
  text-decoration: none;
  font-weight: 500;
  color: #072ac8;
  margin: 0 27px 27px 27px;
}


