@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
  --primaryLight: #a2d6f9;
  --primaryLighter: #d1edff;
  --secondaryLight: #fce300;
  --secondaryDark: #ffc600;
  --neutralLight: #f4f6fc;
  --neutralMedium: #6b708d;
  --neutralDark: #292e47;
  --wrong: #b33a3a;
  --right: #28a428;
  --white: #fff;
  --black: #000;
  --diameter: 25vw;
  --circular-line-width: 2px;
  --background: #000;
  --line-color: #ff0055;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: #e7deec;
  color: #292e47;
}
/*-----nav-----*/

#navbar {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px auto;

}


.pages {
  text-decoration:none;
  color: #a5aac9;
  font-weight: 500;
  font-size: 1.05rem;
  margin: 0 14px 0 14px;
  
}


#contact-btn {
  background-color: #072ac8;
  color: white;
  font-weight: 500;
  font-size: 1.05rem;
  padding: 16px;
  text-decoration: none;
}





/*---section0---*/

.business-conteneur {
display: flex;
align-items: center;
gap: 50px;

}

.stunning-design > h1 {
text-align: justify;
  font-size: 3.5rem;
  color: #292e47;
  font-weight: 600;
  line-height: 130%;
  margin: 50px;
}

.stunning-design > p {
  text-align: justify;
  font-size: 1.1rem;
  color: #6b708d;
  font-weight: 400;
  line-height: 150%;
  margin: 50px;
  
}
.hero-img {
  max-width: 70%;

  }
 
.img-form {
  position: relative;
}
.card1-img {
  position: absolute;
  left: -5%;
  top: 0%;
  right: auto;
  bottom: auto;
  max-width: 34%;
}

.accept-img {
  position: absolute;
  left: auto;
  top: 70%;
  right: 15%;
  bottom: 0%;
  max-width: 34%;
  z-index: 999;
}
#in-touch {
  background-color: #072ac8;
  color: white;
  font-weight: 500;
  font-size: 1.05rem;
  padding: 16px;
  text-decoration: none;
}



/*---section1---*/

.logos-plus {
  display: flex;
  margin-top: 70px;
}

.logo-airbnb,
logo-google, 
logo-microsoft, 
logo-fedex, 
logo-amazon,
logo-nike 
{
  height: 50%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
  --primaryLight: #a2d6f9;
  --primaryLighter: #d1edff;
  --secondaryLight: #fce300;
  --secondaryDark: #ffc600;
  --neutralLight: #f4f6fc;
  --neutralMedium: #6b708d;
  --neutralDark: #292e47;
  --wrong: #b33a3a;
  --right: #28a428;
  --white: #fff;
  --black: #000;
  --diameter: 25vw;
  --circular-line-width: 2px;
  --background: #000;
  --line-color: #ff0055;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: #e7deec;
  color: #292e47;
}
/*-----nav-----*/

#navbar {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px auto;

}


.pages {
  text-decoration:none;
  color: #a5aac9;
  font-weight: 500;
  font-size: 1.05rem;
  margin: 0 14px 0 14px;
  
}


#contact-btn {
  background-color: #072ac8;
  color: white;
  font-weight: 500;
  font-size: 1.05rem;
  padding: 16px;
  text-decoration: none;
}





/*---section0---*/

.business-conteneur {
display:flex;
align-items:center ;
gap: 50px;

}

.stunning-design > h1 {
text-align: justify;
  font-size: 3.5rem;
  color: #292e47;
  font-weight: 600;
  line-height: 130%;
  margin: 50px;
}

.stunning-design > p {
  text-align:justify;
  font-size: 1.1rem;
  color: #6b708d;
  font-weight: 400;
  line-height: 150%;
  margin: 50px;
  
}
.hero-img {
  max-width: 70%;
 

  }
 
.img-form {
  position: relative;
}
.card1-img {
  position: absolute;
  left: -5%;
  top: 0%;
  right: auto;
  bottom: auto;
  max-width: 34%;
}

.accept-img {
  position: absolute;
  left: auto;
  top: 70%;
  right: 15%;
  bottom: 0%;
  max-width: 34%;
  z-index: 999;
}
#in-touch {
  background-color: #072ac8;
  color: white;
  font-weight: 500;
  font-size: 1.05rem;
  padding: 16px;
  text-decoration: none;
}



/*---section1---*/

.logos-plus {
  display: flex;
  margin-top: 70px;
}
.logo-airbnb {
  height: 40%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.logo-google {
  height: 40%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.logo-microsoft {
  height: 40%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.logo-fedex {
  height: 40%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.logo-amazon {
  height: 40%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.logo-nike {
  height: 40%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}

/*---section2---*/

.Projects {
  margin: 10px;
  text-decoration: none;
}

section2 > h1 {
  font-size: 2.5rem;
  margin-top: 40px;
  margin-bottom: 40px;
}
/*----revoir les R-projects--)*/
.R-projects {
  background-color: white;
  padding-bottom: 20px;
}
.R-projects {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 25px;
  grid-row-gap: 20px;

  }

.project-img1 {
  width: 100%;
  max-height: 240px;
}
.project-img2 {
  width: 100%;
  max-height: 240px;
}
.project-img3 {
  width: 100%;
  max-height: 240px;
}



.p-title {
  font-size: 1.3rem;
  margin: 27px;
}

.Projects .p {
  font-size: 1.1rem;
  margin: 27px;
  text-align: left;
  color: #b33a3a;
  
}

.learn {
  text-decoration: none;
  font-weight: 500;
  color: #072ac8;
  margin: 27 10px 10px 2px;
}

/*----section3---*/



