
@import url("https://fonts.googleapis.com/css2?family=Cinzel&family=Roboto:wght@100;300;400;500&display=swap");

:root {
  --primary: #072ac8;
  --primaryLight: #a2d6f9;
  --primaryLighter: #d1edff;
  --secondaryLight: #fce300;
  --secondaryDark: #ffc600;
  --neutralLight: #f4f6fc;
  --neutralMedium: #6b708d;
  --neutralDark: #292e47;
  --wrong: #b33a3a;
  --right: #28a428;
  --white: #fff;
  --black: #000;
  --diameter: 25vw;
  --circular-line-width: 2px;
  --background: #000;
  --line-color: #ff0055;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  position: relative;
}

body {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: 300;
  background-color: #e7deec;
  color: #292e47;
}
/*-----nav-----*/

#navbar {
  width: 80vw;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 75px auto;

}

.pages a {
  text-decoration: none;
  color: #a5aac9;
  font-weight: 500;
  font-size: 1.05rem;
  margin: 0 14px 0 14px;

}


#contact-btn a {
  background-color: #072ac8;
  color: white;
  font-weight: 500;
  font-size: 1.05rem;
  padding: 10px;
  text-decoration: none;
}



/*---section0---*/

.business-conteneur {
display:flex;
align-items:center ;
justify-content: space-between;


}

.stunning-design h1 {
text-align: justify;
  font-size: 3.5rem;
  color: #292e47;
  font-weight: 600;
  line-height: 130%;
  margin: 50px;
  /*text-shadow: 0 0 0 0;*/
}

.stunning-design p {
  text-align:justify;
  font-size: 1.1rem;
  color: #6b708d;
  font-weight: 400;
  line-height: 150%;
  margin: 50px;
  
}
.hero-img {
  max-width: 70%;
 

  }
 
.img-form {
  position: relative;
}
.card1-img {
  position: absolute;
  left: -5%;
  top: 0%;
  right: auto;
  bottom: auto;
  max-width: 34%;
}

.accept-img {
  position: absolute;
  left: auto;
  top: 70%;
  right: 15%;
  bottom: 0%;
  max-width: 34%;
  z-index: 999;
}
#in-touch {
  background-color: #072ac8;
  color: white;
  font-weight: 500;
  font-size: 1.05rem;
  padding: 16px;
  text-decoration: none;
}



/*---section1---*/

.logos-contenaire {
  display: flex;
  margin: 20px;
  padding: 20px;
  justify-content: space-between;
  flex-wrap: nowrap;
}
.logo-airbnb {
  height: 40%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.logo-google {
  height: 40%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.logo-microsoft {
  height: 40%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.logo-fedex {
  height: 40%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.logo-amazon {
  height: 40%;
  width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}
.logo-nike {
  height: 40%;
  min-width: 20%;
  margin-left: 5%;
  margin-right: 5%;
}

/*---section2---*/

.Projects {
  margin: 10px;
  text-decoration: none;
  display: inline-block;
  margin: 20px;
}

section2 h1 {
  font-size: 2.5rem;
  margin-top: 40px;
  margin-bottom: 40px;
}


.R-projects {
  padding: 10px;
  margin: 10px;

}

.R-projects ul {
  display: flex;
  
  justify-content: space-around;

  }

.R-projects li {
  background-color: white;
  padding: 0px;
  list-style-type: none;
  width: 50%;
  height: 60%;
  margin: 10px;

}


.project-img1 {
  width: 100%;
  max-height: 240px;
}
.project-img2 {
  width: 100%;
  max-height: 240px;
}
.project-img3 {
  width: 100%;
  max-height: 240px;
}



.p-title {
  font-size: 1.3rem;
margin: 20px;
}

.Projects p {
  font-size: 1.1rem;
  text-align: left;
  margin: 20px;
}

.learn {
  text-decoration: none;
  font-weight: 500;
  color: #072ac8;
  margin: 20px 20px 20px 20px;
}


/*-----section3------*/
.hear-our-clients {
  position: relative;
  background-color: black;
  padding: 20px;
  margin: 20px;
  
}
.hear-our-clients h2 {
  color: white;
  text-align: center;
  padding: 20px;

}

.hear-our-clients p {
  color: #fce300;
  text-align: center;
  padding: 20px;
  margin: 20px 25px;
  

}
.memoji-1 {
  position: absolute;
  top: 10%;
  left: 10%;
  height: 35%;
  width: 10%;
}
.memoji-2 {
  position: absolute;
  top: 10%;
  right: 10%;
  height: 35%;
  width: 10%;
}
.memoji-3 {
  position: absolute;
  bottom: 10%;
  left: 10%;
  height: 35%;
  width: 10%;
}
.memoji-4 {
  position: absolute;
  bottom: 10%;
  right: 10%;
  height: 35%;
  width: 10%;
}


.img-testimonial {
  position: absolute;
  bottom: 10%;
  right: 50%;
  height: 15%;
  width: 5%;
  border-radius: 150px;
}

.hear-our-clients h4 {
  position: absolute;
  bottom: 14%;
  left: 50%;
  color: #072ac8;

  }
  .hear-our-clients a {
  position: absolute;
  text-decoration: none;
  bottom: 10%;
  left: 50%;
  color: white;
  }




/*----section3---*/

.services-flex {
  padding: 10px;
  margin: 30px;
}
.services-flex ul {
  display: flex;
  justify-content: space-around;
}


.services-flex li {
  list-style: none;
  height: 50%;
  max-width: 50%;
  margin: 0 20px;
  padding: 20px;
  background: white;
  
}

.services-flex h2, p {
  margin: 10px;
}

.services-flex a {
  text-decoration: none;
  font-weight: bold;
  margin: 10px;
  color: #072ac8;
}

/*------section5------*/

.contact-us {
  position: relative;
  background-color:#ffc600;
  padding: 30px;
  margin: 30px;
}

.contact-us h2 {
text-align: center;
}
.contact-us p {
  text-align: center;
  color:#6b708d;
  }


.form-groupe {
  text-align: center;
}
#email {
  border: #072ac8;


}

#btn-subscribe {
  color: #fff;
  background-color: #072ac8;
}

/*.img-mail {
  position: absolute;
  bottom: 20%;
  left: 40%;
}

/*----footer----*/

.address-contenaire {
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 20px;
  padding: 10px;
  
}
.more-infos {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: repeat(2, 40px);
}

.address-contenaire a {
 text-decoration: none;
 color: #072ac8;
 font-weight: bold;

}
